/2ExampleJasmine_Karma_KarmaCoverage_JUnit/node_modules/
/2ExampleJasmine_Karma_KarmaCoverage_JUnit/coverage/
/2ExampleJasmine_Karma_KarmaCoverage_JUnit/junit-report/
/3ExampleQUnit/node_modules/
/4angular2UnitTesting/node_modules/
/4angular2UnitTesting/dist/
/4angular2UnitTesting/typings/
/4angular2UnitTesting/.vscode/
