/2ExampleJasmine_Karma_KarmaCoverage_JUnit/node_modules/
/2ExampleJasmine_Karma_KarmaCoverage_JUnit/coverage/
/2ExampleJasmine_Karma_KarmaCoverage_JUnit/junit-report/
/3ExampleQUnit/node_modules/
/4angular2UnitTests/node_modules
/4angular2UnitTests/dist/
/4angular2UnitTests/typings/
